//common
$container-padding: 15px;

//collors
$black: #000;
$white: #fff;
$adamantineBlue: #43ABF0;
$flaxFlowerBlue: #3E9CDC;
$starryNight: #286690;
$skyCaptain: #272733;
$caviar: #2A2B30;
$explosiveGrey: #c3c3c3;
$abaddonBlack: #231F20;
$lavaStone: #3D4050;
$prediction: #6F6D7B;

//Form
$gridGap: 30px;

//Breakpoints
$xxl: 1400px; 
$xl: 1200px; 
$lg: 992px; 
$md: 768px; 
$sm: 576px; 
$xs: 320px;